*:focus {
    outline: none !important;
}

textarea:focus, input:focus{
    outline: none !important;
}

.container {
    margin-top: 25px;
}

body {
    background: #070212;
}

.jumbotron {
    background: #222124;
}

.mar1 {
    margin-bottom: 25px;
}

.text1 {
    color: #848484;
    font-size: smaller !important;
    text-align: center;
}

.text2 {
    color: white !important;
    font-size: medium !important;
}

.text3 {
    color: #B9B9B9 !important;
    font-size: medium !important;
    text-align: center;
}

.text4 {
    color: #B9B9B9 !important;
    font-size: 25px !important;
}

.txtmarg {
    margin-left: 10px !important;
}

.entrada {
    border-radius: 15px;
    padding: 6px;
    border: 0;
}

.modulo {
    width: 400px;
}

.ancho {
    max-width: 540px;
}

.imgwidth {
    max-width: 240px;
}

.brightness {
    display: inline-block;

}
.brightness img:hover {
    opacity: .5;
}