<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SessionManager</servlet-name>
        <servlet-class>servlets.SessionManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharacterSet</servlet-name>
        <servlet-class>servlets.CharacterSet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiceServlet</servlet-name>
        <servlet-class>servlets.DiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionManager</servlet-name>
        <url-pattern>/session_manager.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharacterSet</servlet-name>
        <url-pattern>/characterset.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiceServlet</servlet-name>
        <url-pattern>/dice.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
